################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/KreyosFirmware/v16/.suo
/.vs/KreyosFirmware/v16/Browse.VC.db
/.vs/KreyosFirmware/v16/Browse.VC.db-shm
/.vs/KreyosFirmware/v16/Browse.VC.db-wal
/.vs/KreyosFirmware/v16/Browse.VC.opendb
/.vs
